<button class="navbar-toggle"></button>
<nav class="navbar">
  <% if (theme.logo.path){ %>
    <div class="logo" id="logo-box">
      <img src="<%- theme.logo.path %>" alt="<%= config.title %>">
    </div>
  <% } %>
  <% if (theme.logo.audio){ %>
    <audio id="audio">
      <source src="<%= theme.logo.audio %>">
    </audio>
  <% } %>
  <ul class="nav nav-main">
    <% for (var i in theme.menu){ %>
    <li class="nav-item">
      <a class="nav-item-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    </li>
    <% } %>
  </ul>
</nav>
<nav class="navbar navbar-bottom">
  <ul class="nav">
    <li class="nav-item">
      <% if (theme.search){ %>
      <a class="nav-item-link nav-item-search"  title="<%= __('search') %>">
        <i class="ri-search-line"></i>
      </a>
      <% } %>
      <% if (theme.rss){ %>
      <a class="nav-item-link" target="_blank" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>">
        <i class="ri-rss-line"></i>
      </a>
      <% } %>
    </li>
  </ul>
</nav>
<div class="search-form-wrap">
  <%- partial('post/search') %>
</div>
<style>
  .logo{
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
<script>
  const audio = document.getElementById('audio');
  const logoBox = document.getElementById('logo-box');
  logoBox.onclick = () => {
    if (!audio) {
      return;
    }
    if (audio.paused) {
      audio.play();
      logoBox.style.animationPlayState='running';
    } else {
      audio.pause();
      logoBox.style.animationPlayState='paused';
    }
  };
</script>
